In [1]:
import pandas as pd
import researchpy as rp

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/researchpy/Data-sets/master/difficile.csv")
df.drop('person', axis= 1, inplace= True)
df['dose'].replace({1: 'placebo', 2: 'low', 3: 'high'}, inplace= True)

## Why?

We can perform an ANOVA test to see if there is a relationship between a categorical varaible (dose) and a numerical variable (libido).

We have 2 hypotesis:

* H0: The mean of the numerical variable is the same in all the ranges of the categorical one.
    
* H1: There is a difference between the means

In [3]:
rp.summary_cont(df['libido'])

  Variable     N    Mean      SD      SE  95% Conf.  Interval
0   libido  15.0  3.4667  1.7674  0.4563     2.4879    4.4454

In [4]:
rp.summary_cont(df['libido'].groupby(df['dose']))

         N  Mean      SD      SE  95% Conf.  Interval
dose
high     5   5.0  1.5811  0.7071     3.0368    6.9632
low      5   3.2  1.3038  0.5831     1.5811    4.8189
placebo  5   2.2  1.3038  0.5831     0.5811    3.8189

In [5]:
import scipy.stats as stats

stats.f_oneway(df['libido'][df['dose'] == 'high'],
               df['libido'][df['dose'] == 'low'],
               df['libido'][df['dose'] == 'placebo'])

F_onewayResult(statistic=5.11864406779661, pvalue=0.024694289538222603)

In [7]:
f'As p value is < 0.05 we can reject H0: There is no difference between means, and assume that there is a differnece between them H1'

'As p value is < 0.05 we can reject H0: There is no difference between means, and assume that there is a differnece between them H1'